# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
media/

# Environments
venv/
ENV/
env/
.venv/
.ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db
