{% extends 'base.html' %}
{% block title %}
    Add Schrödinger Modeling Data for {{ chemical.chem_id }}
{% endblock %}
{% block content %}
    <h2>Add Schrödinger Modeling Data for {{ chemical.chem_id }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="btn btn-primary btn-sm" >Save</button>
        <a href="{% url 'schrodinger_model_list' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm">Cancel</a>
    </form>
{% endblock %}