{% extends 'base.html' %}
{% block title %}Add CCK assay Data{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}

<style>

</style>
<h2>{{ target }} / Chem id : {{ chem_id }}</h2>
<div class="pagetitle">
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Targets</li>
            <li class="breadcrumb-item active"><a href="{% url 'target_view' target=target %}">{{ target }}</a> </li>
            <li class="breadcrumb-item active"><a href="{% url 'pharmacokinetic_list' target=target chem_id=chem_id%}">Result</a> </li>
            <li class="breadcrumb-item active">CCK assay</li>
        </ol>
    </nav>
</div>
<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
       <div class="tab-content pt-2" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <a href="{% url 'pharmacokinetic_list' target=target chem_id=chem_id%}"  class="btn btn-outline-primary btn-sm">Back</a>
          <h4 class="card-title"> In vitro Data : CCK assay </h4>

          <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
                <div class="row mb-3">
                  <label for="date" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="date" name="date"
                     value="{{ form.date.value|date:'Y-m-d' }}">  <!-- 필드의 초기값을 폼에서 가져와서 입력 필드에 설정 -->
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="cell" class="col-sm-2 col-form-label">세포주</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" id="cell" name="cell"  >{{ form.cell.value|default_if_none:'' }}</textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="IC50" class="col-sm-2 col-form-label">IC50(μM)</label>
                  <div class="col-sm-10">
                      <input type="number" step="any" class="form-control" id="IC50" name="IC50" value="{{ form.IC50.value|default_if_none:'' }}">
                  </div>
                </div>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">석출여부</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Out" id="Out_T"  value="Yes" {% if form.Out.value == 'Yes' %}checked{% endif %} >
                      <label class="form-check-label" for="Out_T"> Yes </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Out" id="Out_F" value="No" {% if form.Out.value == 'No' %}checked{% endif %} >
                      <label class="form-check-label" for="Out_F"> No </label>
                    </div>
                  </div>
                </fieldset>

                <div class="row mb-3">
                  <label for="comment" class="col-sm-2 col-form-label">Comment</label>
                  <div class="col-sm-10">
                    <textarea  class="form-control" id="comment" name="comment" >{{ form.comment.value|default_if_none:'' }}</textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="image" class="col-sm-2 col-form-label">Image</label>
                  <div class="col-sm-10" >
                    <input type="file" id="image" name="images" class="form-control" accept="image/*" multiple>
                  </div>
                </div>

                <div class="row mb-3">
                  <ul class="lst_thumb"> </ul>
                </div>

              <div class="row mb-3 " style="display:none">
               <label for="id_userid" class="col-sm-2 col-form-label" > User</label>
               <div class="col-sm-10">
                  <input class="form-control" type="text" id="id_userid" name="user" value="{{ user.name }}" readonly>
               </div>
             </div>

             <div class="row mb-3">
               <label class="col-sm-2 col-form-label"></label>
               <div class="col-sm-10">
                 <button type="submit" class="btn btn-primary">Submit Form</button>
                 <button class="btn btn-primary">cancel</button>
               </div>
             </div>
           </form>

        </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
<!--let onnode = document.querySelector('.lst_thumb');-->
<!--const imageTag = document.getElementById("image");-->

<!--imageTag.addEventListener('change', function () {-->
<!--    loadImg(this);-->
<!--});-->

<!--function loadImg(input) {-->
<!--    console.log("in");-->

<!--    let files = Array.from(input.files);-->

<!--    for (let i = 0; i < input.files.length; i++) {-->
<!--        console.log("in");-->
<!--        if (input.files && input.files[i]) {-->

<!--            let reader = new FileReader();-->

<!--            let fullname = input.files[i].name;-->
<!--            let ext = fullname.split('.').pop();-->
<!--            console.log("확장자: " + ext);-->

<!--            let node = document.createElement('li');-->
<!--            let tmp = `-->
<!--                <img src="" class="uploadimage">-->
<!--                ${fullname}-->
<!--                <input type="button" class="rmbtn" value="삭제">-->
<!--            `;-->
<!--            node.innerHTML = tmp;-->

<!--            node.querySelector('.rmbtn').addEventListener('click', function () {-->
<!--                node.remove();-->
<!--                // 파일 삭제 처리-->
<!--                const dataTransfer = new DataTransfer();-->
<!--                let fileArray = Array.from(input.files);-->
<!--                fileArray.splice(i, 1); // 현재 파일을 배열에서 제거-->
<!--                fileArray.forEach(file => {-->
<!--                    dataTransfer.items.add(file);-->
<!--                });-->
<!--                input.files = dataTransfer.files; // 수정된 파일 목록으로 업데이트-->
<!--            });-->

<!--            if (ext === "txt") {-->
<!--                onnode.appendChild(node);-->
<!--                node.querySelector("img").setAttribute('src', "/assets/img/textfile.jpg");-->
<!--            } else {-->
<!--                reader.onload = function (e) {-->
<!--                    onnode.appendChild(node);-->
<!--                    node.querySelector("img").setAttribute('src', e.target.result);-->
<!--                }-->
<!--                reader.readAsDataURL(input.files[i]);-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--}-->

</script>
{% endblock %}
