{% extends 'base.html' %}
{% block title %}
    Add Cytotoxicity Data for {{ chem_id }}
{% endblock %}
{% block content %}
<h2>{{ target }} / Chem id : {{ chem_id }}</h2>
<div class="pagetitle">
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Targets</li>
            <li class="breadcrumb-item active"><a href="{% url 'target_view' target=target %}">{{ target }}</a> </li>
            <li class="breadcrumb-item active"><a href="{% url 'pharmacokinetic_list' target=target chem_id=chem_id%}">Result</a> </li>
<!--            <li class="breadcrumb-item active">Chemical Property</li>-->
            <li class="breadcrumb-item active">Cytotoxicity</li>
        </ol>
    </nav>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cytotoxicity Data for {{ chem_id }}</h4>
       <button class="btn btn-outline-primary btn-sm" onclick="history.back()">Back</button>
        <form method="post" >
         {% csrf_token %}
            <div class="row mb-3">
              <label for="date" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="date" name="date"
                 value="{{ form.date.value|date:'Y-m-d' }}">  <!-- 필드의 초기값을 폼에서 가져와서 입력 필드에 설정 -->
              </div>
            </div>

            <div class="row mb-3">
              <label for="VERO" class="col-sm-2 col-form-label">VERO</label>
              <div class="col-sm-10">
                  <input type="number" step="any" class="form-control" id="VERO" name="VERO" value="{{ form.VERO.value|default_if_none:'' }}">
              </div>
            </div>

          <div class="row mb-3">
              <label for="HFL_1" class="col-sm-2 col-form-label">HFL_1</label>
              <div class="col-sm-10">
                  <input type="number" step="any" class="form-control" id="HFL_1" name="HFL_1" value="{{ form.HFL_1.value|default_if_none:'' }}">
              </div>
          </div>

          <div class="row mb-3">
              <label for="L929" class="col-sm-2 col-form-label">L929</label>
              <div class="col-sm-10">
                <input type="number" step="any" class="form-control" id="L929" name="L929"  value="{{ form.L929.value|default_if_none:'' }}">
              </div>
          </div>

          <div class="row mb-3">
              <label for="NIH_3T3" class="col-sm-2 col-form-label">NIH_3T3</label>
              <div class="col-sm-10">
                <input type="number" step="any" class="form-control" id="NIH_3T3" name="NIH_3T3"  value="{{ form.NIH_3T3.value|default_if_none:'' }}">
              </div>
          </div>

          <div class="row mb-3">
              <label for="CHO-K1" class="col-sm-2 col-form-label">CHO-K1</label>
              <div class="col-sm-10">
                <input type="number" step="any" class="form-control" id="CHO-K1" name="CHO_K1" value="{{ form.CHO_K1.value|default_if_none:'' }}">
              </div>
          </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Form</button>
            <button class="btn btn-primary">cancel</button>
          </div>
        </div>

        <div class="row mb-3 " style="display:none">
          <label for="id_userid" class="col-sm-2 col-form-label" > User</label>
          <div class="col-sm-10">
             <input class="form-control" type="text" id="id_userid" name="user" value="{{ user.name }}" readonly>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}