{% extends 'base.html' %}
{% load static %}
{% block title %}
HOME
{% endblock %}

{% block content %}
<style>

.card {
  transition: background-color 0.5s ease;
}

.card:hover {
  background-color: #2f7aeb;/* 카드 배경색 변경 */
}

.card:hover .card-img-overlay,
.card:hover .card-title,
.card:hover p,
.card:hover .icon-large {
  color: white; /* 글자와 아이콘 색상 변경 */
}


</style>




<div class="container d-flex flex-column justify-content-center align-items-center ">
  <div class="text-center mb-4">
       <h1 class="mt-5">Targets </h1>
    <h5 class="mt-5">Welcome to the Chemical Management </h5>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="card mx-2 mb-3 w-25" href="{% url 'target_view' target='TNIK' %}" >
      <a href="{% url 'target_view' target='TNIK' %}">
       <img src="{% static 'assets/img/chemical.png' %}" class="card-img-top" alt="TNIK">
        <div class="card-img-overlay">
          <h5 class="card-title">TNIK</h5>
        </div>
      </a>
    </div>

<!--     <div class="card">-->
<!--            <div class="card-body">-->
<!--&lt;!&ndash;              <h5 class="card-title">Card with titles, buttons, and links</h5>&ndash;&gt;-->
<!--&lt;!&ndash;              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>&ndash;&gt;-->
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--              <p class="card-text"><a href="#" class="btn btn-primary">Button</a></p>-->
<!--              <a href="#" class="card-link">Card link</a>-->
<!--              <a href="#" class="card-link">Another link</a>-->
<!--            </div>-->
<!--      </div>-->

<!--    <div class="row gy-4">-->
<!--      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">-->
<!--        <div class="service-item  position-relative">-->
<!--          <div class="icon">-->
<!--            <i class="fas fa-heartbeat"></i>-->
<!--          </div>-->
<!--          <a href="#" class="stretched-link">-->
<!--            <h3>Nesciunt Mete</h3>-->
<!--          </a>-->
<!--          <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card mx-2 mb-3 w-25" >-->
<!--      <a href="{% url 'target_view' target='FOXM1' %}">-->
<!--        <img src="{% static 'assets/img/chemical1.png' %}" class="card-img-top" alt="FOXM1">-->
<!--        <div class="card-img-overlay">-->
<!--          <h5 class="card-title">FOXM1</h5>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
     <div class="card mx-2 mb-3 w-25" >
      <a href="{% url 'target_view' target='FOXM1' %}">
        <div class="card-body text-center"><br>
          <h3 class="card-title">FOXM1</h3>
           <p class="card-text">Forkhead box protein M1 is a protein that in humans is encoded by the FOXM1 gene</p>
        </div>
      </a>
    </div>


     <div class="card mx-2 mb-3 w-25" >
      <a href="{% url 'target_view' target='IRP2' %}">
        <img src="{% static 'assets/img/chemical2.png' %}"class="card-img-top" alt="IRP2">
        <div class="card-img-overlay">
          <h5 class="card-title">IRP2</h5>
        </div>
      </a>
    </div>

    <div class="card mx-2 mb-3 w-25" >
      <a href="{% url 'target_view' target='FDA' %}">
        <img src="{% static 'assets/img/chemical2.png' %}"class="card-img-top" alt="IRP2">
        <div class="card-img-overlay">
          <h5 class="card-title">FDA</h5>
        </div>
      </a>
    </div>

  </div>

<!--  <div class="container">-->
<!--        <div class="row gy-4">-->
<!--          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="service-item  position-relative">-->
<!--              <div class="icon">-->
<!--                <i class="fas fa-heartbeat"></i>-->
<!--              </div>-->
<!--              <a href="#" class="stretched-link">-->
<!--                <h3>Nesciunt Mete</h3>-->
<!--              </a>-->
<!--              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

<!--          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="service-item position-relative">-->
<!--              <div class="icon">-->
<!--                <i class="fas fa-pills"></i>-->
<!--              </div>-->
<!--              <a href="#" class="stretched-link">-->
<!--                <h3>Eosle Commodi</h3>-->
<!--              </a>-->
<!--              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

<!--          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="service-item position-relative">-->
<!--              <div class="icon">-->
<!--                <i class="fas fa-hospital-user"></i>-->
<!--              </div>-->
<!--              <a href="#" class="stretched-link">-->
<!--                <h3>Ledo Markt</h3>-->
<!--              </a>-->
<!--              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

<!--      </div>-->


  <div class="text-center mt-4">
    <h3>Analysis</h3>
  </div>
  <br>
  <div class="d-flex justify-content-center mt-3">

<!--     <div class="card mx-2 mb-3 w-25" style="width: 20rem;">-->
<!--      <a href="#">-->
<!--        <img src="{% static 'assets/img/chemi2.jpg' %}" class="card-img-top" alt="New Card 1">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">분석1 </h5>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->

    <div class="card mx-2 mb-3 w-25" style="width: 20rem;" >
      <a href="">
        <div class="card-body text-center"><br>
          <h3 class="card-title">분석1 </h3>
           <p class="card-text">Forkhead box protein M1 is a protein that in humans is encoded by the FOXM1 gene</p>
        </div>
      </a>
    </div>

    <div class="card mx-2 mb-3 w-25" style="width: 20rem;">
      <a href="#">
        <img src="{% static 'assets/img/chemi2.jpg' %}" class="card-img-top" alt="New Card 2">
        <div class="card-body">
          <h5 class="card-title">분석2 </h5>
        </div>
      </a>
    </div>

     <div class="card mx-2 mb-3 w-25" style="width: 20rem;">
      <a href="#">
        <img src="{% static 'assets/img/chemi2.jpg' %}" class="card-img-top" alt="New Card 3">
        <div class="card-body">
          <h5 class="card-title">분석3 </h5>
        </div>
      </a>
    </div>

    <div class="card mx-2 mb-3 w-25" style="width: 20rem;">
      <a href="#">
        <img src="{% static 'assets/img/chemi2.jpg' %}" class="card-img-top" alt="New Card 3">
        <div class="card-body">
          <h5 class="card-title">분석4 </h5>
        </div>
      </a>
    </div>

  </div>
</div>


{% endblock %}
