{% extends 'base.html' %}
{% block title %} HOME {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
      <h2>Welcome to the Chemical Management System</h2>
      <div class="mt-4">
        <a href="{% url 'target_view' target='TNIK' %}" class="btn btn-outline-info btn-lg mx-4 mb-3">TNIK</a>
        <a href="{% url 'target_view' target='FOXM1' %}" class="btn btn-outline-info btn-lg mx-4 mb-3">FOXM1</a>
        <a href="{% url 'target_view' target='IRP2' %}" class="btn btn-outline-info btn-lg mx-4 mb-3">IRP2</a>
     </div>
 </div>
</div>
{% endblock %}
