{% extends 'base.html' %}
{% block title %}Add In vitro assay Data{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
<h2>In vitro assay Data for {{ chemical.chem_id }}</h2>
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->
<!--<a href="{% url 'pharmacokinetic_list' target=chemical.target chem_id=chemical.chem_id %}">Cancel</a>-->

<div class="col-lg-6">
  <div class="card">
    <div class="card-body"><br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">CCK assay</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Western blot</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">In vitro Target Inhibition assay</button>
        </li>
         <li class="nav-item" role="presentation">
          <button class="nav-link" id="chem-tab" data-bs-toggle="tab" data-bs-target="#chem" type="button" role="tab" aria-controls="chem" aria-selected="false">기타실험</button>
        </li>
     </ul>


       <div class="tab-content pt-2" id="myTabContent">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h4 class="card-title">In vitro Data for {{ chemical.chem_id }}</h4>
            <form method="post" novalidate>
             {% csrf_token %}
                <div class="row mb-3">
                  <label for="date" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="date" name="date"
                     value="{{ form.date.value|default_if_none:'' }}">  <!-- 필드의 초기값을 폼에서 가져와서 입력 필드에 설정 -->
                  </div>
                </div>

<!--                <div class="row mb-3">-->
<!--                  <label for="assay" class="col-sm-2 col-form-label">Assay</label>-->
<!--                  <div class="col-sm-10">-->
<!--                     <select class="form-select" aria-label="Default select example" id="assay" name="assay" value="{{ form.assay.value|default_if_none:'' }}" required>-->
<!--                          <option value="" selected disabled hidden>Administration route*</option>-->
<!--                          <option value="CCK">CCK assay</option>-->
<!--                          <option value="WB">Western blot</option>-->
<!--                          <option value="Target">In vitro Target Inhibition assay</option>-->
<!--                          <option value="기타실험">기타 실험</option>-->
<!--                      </select>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="row mb-3">
                  <label for="cell" class="col-sm-2 col-form-label">세포주</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" id="cell" name="cell"  >{{ form.cell.value|default_if_none:'' }}</textarea>
                  </div>
                </div>

              <div class="row mb-3">
                  <label for="IC50" class="col-sm-2 col-form-label">IC50(μM)</label>
                  <div class="col-sm-10">
                      <input type="number" step="any" class="form-control" id="IC50" name="IC50" value="{{ form.IC50.value|default_if_none:'' }}">
                  </div>
              </div>
               <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">석출여부</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Out" id="Out_T"  value="Yes" checked>
                      <label class="form-check-label" for="Out_T"> Yes </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Out" id="Out_F" value="No">
                      <label class="form-check-label" for="Out_F"> No </label>
                    </div>
                  </div>
                </fieldset>

              <div class="row mb-3">
                  <label for="comment" class="col-sm-2 col-form-label">Comment</label>
                  <div class="col-sm-10">
                    <textarea  class="form-control" id="comment" name="comment" >{{ form.comment.value|default_if_none:'' }}</textarea>
                  </div>
              </div>

              <div class="row mb-3">
                  <label for="image" class="col-sm-2 col-form-label">Image</label>
                  <div class="col-sm-10">
                    <input type="file" id="image" name="image" class="form-control" accept="image/*">
                  </div>
              </div>

            <div class="row mb-3 " style="display:none">
              <label for="id_userid" class="col-sm-2 col-form-label" > User</label>
              <div class="col-sm-10">
                 <input class="form-control" type="text" id="id_userid" name="user" value="{{ user.name }}" readonly>
              </div>
            </div>
            <div class="row mb-3 " style="display:none">
              <label for="assay" class="col-sm-2 col-form-label" > assay</label>
              <div class="col-sm-10">
                 <input class="form-control" type="text" id="assay" name="assay"  value="CCK" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Form</button>
                <button class="btn btn-primary">cancel</button>
              </div>
            </div>
          </form>
        </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
           <h4 class="card-title">In vitro Data for {{ chemical.chem_id }}</h4>
            <form method="post" novalidate>
             {% csrf_token %}

                <div class="row mb-3">
                  <label for="date1" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="date1" name="date"
                     value="{{ form.date.value|default_if_none:'' }}">  <!-- 필드의 초기값을 폼에서 가져와서 입력 필드에 설정 -->
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="cell1" class="col-sm-2 col-form-label">세포주</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" id="cell1" name="cell"  >{{ form.cell.value|default_if_none:'' }}</textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="comment1" class="col-sm-2 col-form-label">Comment</label>
                  <div class="col-sm-10">
                    <textarea  class="form-control" id="comment1" name="comment" >{{ form.comment.value|default_if_none:'' }}</textarea>
                  </div>
                </div>

              <div class="row mb-3">
                  <label for="image1" class="col-sm-2 col-form-label">Image</label>
                  <div class="col-sm-10">
                    <input type="file" id="image1" name="image" class="form-control" accept="image/*">
                  </div>
              </div>

            <div class="row mb-3 " style="display:none">
              <label for="id_userid1" class="col-sm-2 col-form-label" > User</label>
              <div class="col-sm-10">
                 <input class="form-control" type="text" id="id_userid1" name="user" value="{{ user.name }}" readonly>
              </div>
            </div>
            <div class="row mb-3 " style="display:none">
              <label for="assay1" class="col-sm-2 col-form-label" > assay</label>
              <div class="col-sm-10">
                 <input class="form-control" type="text" id="assay1" name="assay"  value="WB" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Form</button>
                <button class="btn btn-primary">cancel</button>
              </div>
            </div>
          </form>

          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <h4 class="card-title">In vitro Data for {{ chemical.chem_id }}</h4>

          </div>

          <div class="tab-pane fade" id="chem" role="tabpanel" aria-labelledby="chem-tab">
          <h4 class="card-title">In vitro Data for {{ chemical.chem_id }}</h4>
          </div>

       </div>


    </div>
  </div>
</div>


{% endblock %}