{% extends 'base.html' %}
{% block title %} Pharmacokinetics and Cytotoxicity for {{ chemical.chem_id }}{% endblock %}
{% block content %}
<style>
<!--table, tr, td {-->
<!--  text-align: center;-->
<!--}-->
.modal-dialog {
    height: 70%;
    max-width: 90%; /* 모달의 최대 너비를 80%로 설정 */
    margin: 10rem auto;
}
.modal-body {
    padding: 0; /* 모달 본문의 패딩 제거 */
    height: auto;
    max-height: 80vh; /* 모달의 최대 높이 설정 */
    overflow: hidden; /* 모달의 내용이 넘칠 때 스크롤 숨기기 */
}

.bk-slider {
    position: relative;
    height: auto;
    padding: 50px 0 100px;

}
.swiper {
    position: relative;
    width: 100%;
    height: 400px; /* 슬라이드 높이 조정 */
    padding-bottom: 100px; /* 하단 여백 추가 */
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 5px;
    height: 100%; /* 슬라이드의 높이를 부모 컨테이너에 맞추기 */

&.swiper-slide-active {
    transform: scale(1.4);
    z-index: 2
  }
}
/* SCROLLBAR 스타일 수정 */
.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.1); /* 스크롤바 배경 */
    height: 16px; /* 스크롤바 두께 (조정됨) */
    bottom: 10px; /* 하단 여백 추가 */
    left: 10px;
    right: 10px;
    border-radius: 8px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 모양 변경 */
}

.swiper-scrollbar-drag {
    background: rgba(47, 122, 235, 0.8); /* 드래그 가능한 스크롤바의 색상 */
    border-radius: 8px; /* 둥근 모서리 */
    height: 100%; /* 드래그 가능한 요소의 높이를 스크롤바와 동일하게 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    transition: height 0.3s ease; /* 높이 변화 애니메이션 */
}


/* 페이지네이션 스타일 수정 */
.swiper-pagination {
    position: absolute;
    bottom: 30px; /* 페이지네이션과 스크롤바 사이의 간격 */
    left: 0;
    width: 100%;
    text-align: center; /* 페이지네이션 중앙 정렬 */
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: #8bafe6;
}
/* 스크롤바에 마우스 올렸을 때 두꺼워지게 */
.swiper-scrollbar:hover .swiper-scrollbar-drag {
    height: 20px; /* 마우스 올렸을 때 두꺼워지도록 설정 */
    background: rgba(47, 122, 235, 1); /* 배경색 진하게 */
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: linear-gradient(45deg, rgb(54, 83, 248), rgb(105, 153, 241));
}

/* 슬라이드 간격 설정 */
.swiper-slide + .swiper-slide {
    margin-left: 15px; /* 슬라이드 사이의 간격 설정 */
}
.slide-image {
    width: 100%; /* 슬라이드의 가로 크기에 맞추기 */
    height:  100%;  /* 높이는 자동으로 조정 */
    object-fit: contain; /* 이미지가 잘리지 않도록 조정 */

}
.slide-info {
    text-align: center;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* 배경을 반투명 검정색으로 설정 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
    padding: 10px;
    text-align: center;
}
.slide-info p {
    margin: 5px 0 0;
    font-size: 14px;
}


</style>
<div class="pagetitle">
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Target</li>
            <li class="breadcrumb-item active"><a href="{% url 'target_view' target=chemical.target %}">{{ target }}</a> </li>
            <li class="breadcrumb-item active">Result</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-body"><br>
        <h3>{{ target }} / Chem_id : {{ chemical.chem_id }}</h3>

      <!-- Default Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Chemical Property</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">In vitro assay</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">In vivo assay</button>
            </li>
        </ul>

<!--    Tab      -->
       <div class="tab-content pt-2" id="myTabContent">
        <a href="{% url 'target_view' target=chemical.target %}"  class="btn btn-outline-primary btn-sm">Back to {{ chemical.target }}</a>
<!--    Chemical property     -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                <h4 class="card-title"> Pharmacokinetics </h4>
              </div>
              <div class="d-flex justify-content-end">
              <form method="post" action="{% url 'pharmacokinetic_add' target=chemical.target chem_id=chemical.chem_id %}" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Pharmacokinetic</button>
              </form>
              </div>
            </div>
             <table class="table table-hover"  id="data-table" >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Route</th>
                        <th scope="col">Tmax(h)</th>
                        <th scope="col">Cmax(μg/mL)</th>
                        <th scope="col">t1/2(h)</th>
                        <th scope="col">AUCt(μg·h/mL)</th>
                        <th scope="col">CL(L/h/kg)</th>
                        <th scope="col">Vss(L/kg)</th>
                        <th scope="col">F(%)</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pk in pharmacokinetics %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ pk.date|date:"Y-m-d" }}</td>
                        <td>{{ pk.Route }} </td>
                        <td>{{ pk.tmax }}</td>
                        <td>{{ pk.max_concentration }}</td>
                        <td>{{ pk.t_half }}</td>
                        <td>{{ pk.AUC }}</td>
                        <td>{{ pk.CL }}</td>
                        <td>{{ pk.Vss }}</td>
                        <td>{{ pk.F }}</td>
                        <td>raw data</td>
                        <td>
                        <a href="{% url 'pharmacokinetic_update' target=chemical.target chem_id=chemical.chem_id id=pk.id %}" class ="btn btn-outline-secondary btn-sm">수정</a>
                        <button class ="btn btn-outline-danger btn-sm delete-btn" data-url="{% url 'pharmacokinetic_delete' target=chemical.target chem_id=chemical.chem_id id=pk.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                <h4 class="card-title" >Cytotoxicity</h4>
              </div>
              <div class="d-flex justify-content-end">
              <form method="post" action="{% url 'cytotoxicity_add' target=chemical.target chem_id=chemical.chem_id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Cytotoxicity</button>
              </form>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">VERO</th>
                        <th scope="col">HFL-1</th>
                        <th scope="col">L929</th>
                        <th scope="col">NIH 3T3</th>
                        <th scope="col">CHO-K1</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ct in cytotoxicities %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ ct.date|date:"Y-m-d"  }}</td>
                        <td>{{ ct.VERO }}</td>
                        <td>{{ ct.HFL_1 }}</td>
                        <td>{{ ct.L929 }}</td>
                        <td>{{ ct.NIH_3T3 }}</td>
                        <td>{{ ct.CHO_K1 }}</td>
                        <td>raw data</td>
                        <td>
                            <a href="{% url 'cytotoxicity_update' target=chemical.target chem_id=chemical.chem_id id=ct.id %}" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn"
                                        data-url="{% url 'cytotoxicity_delete' target=chemical.target chem_id=chemical.chem_id id=ct.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-body">
             <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                 <h4 class="card-title">Liver Microsomal Stability</h4>
              </div>
              <div class="d-flex justify-content-end">
                <form method="post" action="{% url 'liver_stability_add' target=chemical.target chem_id=chemical.chem_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Liver Microsomal Stability</button>
                </form>
              </div>
             </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Mouse(%)</th>
                        <th scope="col">Rat(%)</th>
                        <th scope="col">Human(%)</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ls in liver_stabilities %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ ls.date|date:"Y-m-d"  }}</td>
                        <td>{{ ls.mouse }}</td>
                        <td>{{ ls.rat }}</td>
                        <td>{{ ls.human }}</td>
                        <td>raw data </td>
                        <td>
                            <a href="{% url 'liver_stability_update' target=chemical.target chem_id=chemical.chem_id id=ls.id %}" class ="btn btn-outline-secondary btn-sm">수정</a>
                             <button class ="btn btn-outline-danger btn-sm delete-btn"
                                        data-url="{% url 'liver_stability_delete' target=chemical.target chem_id=chemical.chem_id id=ls.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">CYP Inhibition Data</h4>
              </div>
              <div class="d-flex justify-content-end">
              <form method="post" action="{% url 'cyp_inhibition_add' target=chemical.target chem_id=chemical.chem_id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CYP inhibition</button>
             </form>
              </div>
            </div>
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">CYP1A2</th>
                            <th scope="col">CYP2C9</th>
                            <th scope="col">CYP2C19</th>
                            <th scope="col">CYP2D6</th>
                            <th scope="col">CYP3A4</th>
                            <th scope="col">Raw data</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cyp in cyp_inhibitions %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ cyp.date|date:"Y-m-d" }}</td>
                            <td>{{ cyp.cyp_1a2 }}</td>
                            <td>{{ cyp.cyp_2c9 }}</td>
                            <td>{{ cyp.cyp_2c19 }}</td>
                            <td>{{ cyp.cyp_2d6 }}</td>
                            <td>{{ cyp.cyp_3a4 }}</td>
                            <td>raw data</td>
                            <td>
                                <a href="{% url 'cyp_inhibition_update' target=chemical.target chem_id=chemical.chem_id id=cyp.id %}" class ="btn btn-outline-secondary btn-sm">수정</a>
                               <button class ="btn btn-outline-danger btn-sm delete-btn"
                                        data-url="{% url 'cyp_inhibition_delete' target=chemical.target chem_id=chemical.chem_id id=cyp.id %}">삭제</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!--                <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">Home</a>-->
            </div>
        </div>
<!--    In vitro      -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" >
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">CCK assay</h4>
              </div>
              <div class="d-flex justify-content-end">
              <a href="{% url 'cck_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> add</a>
              <a href="{% url 'cck_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Img</a>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">진행자</th>
                        <th scope="col">세포주</th>
                        <th scope="col">IC50(μM)</th>
                        <th scope="col">석출여부</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for assay in cck_assay %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td data-date={{assay.date|date:"Y-m-d"}} >{{ assay.date|date:"Y-m-d" }}</td>
                        <td >{{ assay.user }}</td>
                        <td >{{ assay.cell }}</td>
                        <td >{{ assay.IC50 }}</td>
                        <td >{{ assay.Out }}</td>
                        <td data-comment={{assay.comment}} >{{ assay.comment }}</td>
                        <td>
                            <div style="width:100%; height:auto;">
                                 {% if assay.images.exists %}
                                    <span class="badge badge-secondary py-1 open-modal"
                                          data-images="{% for image in assay.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                        ◯
                                    </span>
                                 {% endif %}
                            </div>
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="{% url 'cck_update' target=chemical.target chem_id=chemical.chem_id id=assay.id %}" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url="{% url 'cck_delete' target=chemical.target chem_id=chemical.chem_id id=assay.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">Western blot</h4>
              </div>
              <div class="d-flex justify-content-end">
                 <a href="{% url 'wb_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Western blot</a>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">진행자</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for wb in Western_blot %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td data-date= {{wb.date|date:"Y-m-d"}}>{{ wb.date|date:"Y-m-d" }}</td>
                        <td>{{ wb.user }}</td>
                        <td data-comment={{wb.comment}}>{{ wb.comment }}</td>
                        <td>
                            <div style="width:100%; height:auto;">
                                 {% if wb.images.exists %}
                                    <span class="badge badge-secondary py-1 open-modal" data-images="{% for image in wb.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                        ◯
                                    </span>
                                {% endif %}
                            </div>
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn"
                                    data-url="{% url 'wb_delete' target=chemical.target chem_id=chemical.chem_id id=wb.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
             <h4 class="card-title">In vitro Target Inhibition assay</h4>
            </div>
              <div class="d-flex justify-content-end">
                 <a href="{% url 'in_target_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> In vitro Target Inhibition assay</a>
              </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">진행자</th>
                        <th scope="col">In vitro inhibition at 10 μM(%)</th>
                        <th scope="col">Target inhibition IC50(μM)</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ta in Target_Inhibition %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td data-date= {{ta.date|date:"Y-m-d"}}>{{ ta.date|date:"Y-m-d" }}</td>
                        <td>{{ ta.user }}</td>
                        <td>{{ ta.vitro_at_10 }}</td>
                        <td>{{ ta.Taret_IC50 }}</td>
                        <td data-commnet={{ta.comment}} >{{ ta.comment }}</td>
                        <td>
                            <div style="width:100%; height:auto;">
                                 {% if ta.images.exists %}
                                    <span class="badge badge-secondary py-1 open-modal" data-images="{% for image in ta.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                        ◯
                                    </span>
                                 {% endif %}
                            </div>
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn"
                                    data-url="{% url 'in_target_delete' target=chemical.target chem_id=chemical.chem_id id=ta.id %}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
             <h4 class="card-title">기타실험</h4>
            </div>
            <div class="d-flex justify-content-end">
             <a href="{% url 'other_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> 기타실험</a>
            </div>
            </div>
            <table  class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">실험명</th>
                    <th scope="col">진행자</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Image</th>
                    <th scope="col">Raw data</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ot in other %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td data-date={{ot.date|date:"Y-m-d"}} >{{ ot.date|date:"Y-m-d" }}</td>
                    <td>{{ ot.title }}</td>
                    <td>{{ ot.user }}</td>
                    <td data-commnet={{ot.comment}}>{{ ot.comment }}</td>
                    <td>
                         <div style="width:100%; height:auto;">
                            {% if ot.images.exists %}
                                <span class="badge badge-secondary py-1 open-modal" data-images="{% for image in ot.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                    ◯
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td>raw data</td>
                    <td>
                        <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                         <button class ="btn btn-outline-danger btn-sm delete-btn"
                                    data-url="{% url 'other_delete' target=chemical.target chem_id=chemical.chem_id id=ot.id %}">삭제</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
<!--    In vivo     -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">Toxicity Test</h4>
              </div>
              <div class="d-flex justify-content-end">
              <a href="{% url 'invivo_add' target=chemical.target chem_id=chemical.chem_id category=1 %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> add</a>
              <a href="" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Img</a>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">시작일</th>
                        <th scope="col">종료일</th>
                        <th scope="col">세포주</th>
                        <th scope="col">투여용량</th>
                        <th scope="col">용매조성</th>
                        <th scope="col">투여일정</th>
                        <th scope="col">그룹정보</th>
                        <th scope="col">comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for toxi in invivo %}
                    {% if toxi.category == 'Toxicity'  %}
                    <tr>
                        <th scope="row">{{ forloop.counter0 }}</th>
                        <td>{{ toxi.start_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.end_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.cell }}</td>
                        <td>{{ toxi.does }}</td>
                        <td>{{ toxi.solvent }}</td>
                        <td>{{ toxi.inject_date }}</td>
                        <td>{{ toxi.group }}</td>
                        <td data-commnet={{toxi.comment}}>{{ toxi.comment }}</td>
                        <td>
<!--                            <div style="width:100%; height:auto;">-->
<!--                                 {% if assay.images.exists %}-->
<!--                                    <span class="badge badge-secondary py-1 open-modal"-->
<!--                                          data-images="{% for image in assay.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">-->
<!--                                        ◯-->
<!--                                    </span>-->
<!--                                 {% endif %}-->
<!--                            </div>-->
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url="">삭제</button>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url=""><i class="bi bi-dash-square"></i>Img</button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">Xenograft</h4>
              </div>
              <div class="d-flex justify-content-end">
              <a href="{% url 'invivo_add' target=chemical.target chem_id=chemical.chem_id category=2 %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> add</a>
              <a href="{% url 'cck_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Img</a>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">시작일</th>
                        <th scope="col">종료일</th>
                        <th scope="col">세포주</th>
                        <th scope="col">투여용량</th>
                        <th scope="col">용매조성</th>
                        <th scope="col">투여일정</th>
                        <th scope="col">그룹정보</th>
                        <th scope="col">comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for toxi in invivo %}
                     {% if toxi.category == 'Xenograft'  %}
                    <tr>
                        <th scope="row">{{ forloop.counter0 }}</th>
                        <td>{{ toxi.start_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.end_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.cell }}</td>
                        <td>{{ toxi.does }}</td>
                        <td>{{ toxi.solvent }}</td>
                        <td>{{ toxi.inject_date }}</td>
                        <td>{{ toxi.group }}</td>
                        <td data-commnet={{toxi.comment}}>{{ toxi.comment }}</td>
                        <td>
<!--                            <div style="width:100%; height:auto;">-->
<!--                                 {% if assay.images.exists %}-->
<!--                                    <span class="badge badge-secondary py-1 open-modal"-->
<!--                                          data-images="{% for image in assay.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">-->
<!--                                        ◯-->
<!--                                    </span>-->
<!--                                 {% endif %}-->
<!--                            </div>-->
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url="">삭제</button>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url=""><i class="bi bi-dash-square"></i>Img</button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            </div>
            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-start">
                 <h4 class="card-title">기타</h4>
              </div>
              <div class="d-flex justify-content-end">
              <a href="{% url 'invivo_add' target=chemical.target chem_id=chemical.chem_id category=3 %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> add</a>
              <a href="{% url 'cck_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Img</a>
              </div>
            </div>
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">시작일</th>
                        <th scope="col">종료일</th>
                        <th scope="col">세포주</th>
                        <th scope="col">투여용량</th>
                        <th scope="col">용매조성</th>
                        <th scope="col">투여일정</th>
                        <th scope="col">그룹정보</th>
                        <th scope="col">comment</th>
                        <th scope="col">Image</th>
                        <th scope="col">Raw data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for toxi in invivo %}
                     {% if toxi.category == '기타'  %}
                    <tr>
                        <th scope="row">{{ forloop.counter0 }}</th>
                        <td>{{ toxi.start_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.end_date|date:"Y-m-d" }}</td>
                        <td>{{ toxi.cell }}</td>
                        <td>{{ toxi.does }}</td>
                        <td>{{ toxi.solvent }}</td>
                        <td>{{ toxi.inject_date }}</td>
                        <td>{{ toxi.group }}</td>
                        <td data-commnet={{toxi.comment}}>{{ toxi.comment }}</td>
                        <td>
<!--                            <div style="width:100%; height:auto;">-->
<!--                                 {% if assay.images.exists %}-->
<!--                                    <span class="badge badge-secondary py-1 open-modal"-->
<!--                                          data-images="{% for image in assay.images.all %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">-->
<!--                                        ◯-->
<!--                                    </span>-->
<!--                                 {% endif %}-->
<!--                            </div>-->
                        </td>
                        <td>raw data</td>
                        <td>
                            <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url="">삭제</button>
                            <button class ="btn btn-outline-danger btn-sm delete-btn" data-url=""><i class="bi bi-dash-square"></i>Img</button>
                        </td>
                    </tr>
                     {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            </div>
        </div>
        </div>
    </div>
</div>

<!-- 모달창 -->
<div class="modal fade" id="swiperModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="bk-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>

$(document).ready(function() {
    var $modal = $("#swiperModal");
    var $modalWrapper = $modal.find(".swiper-wrapper");
    var swiper = null; // Swiper 인스턴스를 저장할 변수

    function openModal(images, date, comment) {
        $modalWrapper.empty();

        images.forEach(function(image) {
            var $slide = $(
                '<div class="swiper-slide">' +
                    '<img src="' + image + '" alt="Image" >' +
                    '<div class="slide-info">' +
                        '<p>' + date + '</p>' +
                        '<p>' + comment + '</p>' +
                    '</div>' +
                '</div>'
            );
            $modalWrapper.append($slide);
        });

         if (swiper) {
            swiper.destroy(); // 이전 Swiper 인스턴스 제거
        }
         swiper = new Swiper('.swiper', {
          slidesPerView: 8,
          centeredSlides: true,
          loop: false,
          spaceBetween: 15,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
            renderBullet: function (index, className) {
              return '<span class="' + className + '">' + (index + 1) + '</span>';
            },
          },
          scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
            snapOnRelease: true,
          },
          observer: true,
          observeParents: true,
        });
        $modal.modal('show');
      }

    $(".open-modal").on("click", function() {
        var images = $(this).data("images").split(',');
        var $row = $(this).closest("tr")
        var date = $row.find("td[data-date]").data("date");
        var comment =  $row.find("td[data-comment]").data("comment");

        openModal(images, date, comment);
    });

    // 모달 닫기
    $(".btn-close").on("click", function() {
        if (swiper) {
            swiper.destroy();
            swiper = null;
        }
        $modal.modal('hide');
    });

});


// 삭제 버튼
$('.delete-btn').click(function() {
    var url = $(this).data('url');
    var csrfToken = '{{ csrf_token }}';
    var row = $(this).closest('tr');
   if (confirm('삭제하시겠습니까? (삭제 후 복구가 불가능합니다.)')) {
    $.ajax({
        url: url,
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrfToken
        },
        success: function(response) {
            if (response.success) {
                 row.remove();
            } else {
                console.log('error');
                alert('Error: ' + response.error);
            }
        },
        error: function(xhr, status, error) {
            console.error("AJAX 요청 실패:", status, error);
        }
      })
    }
});
document.addEventListener("DOMContentLoaded", function() {
    // 페이지가 로드될 때, 저장된 탭 상태를 복원
    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
        var tabElement = document.querySelector(activeTab);
        if (tabElement) {
            tabElement.click();
        }
    }

    // 탭 클릭 이벤트 리스너 추가
    var tabs = document.querySelectorAll('.nav-tabs .nav-link');
    tabs.forEach(function(tab) {
        tab.addEventListener('click', function() {
            // 클릭한 탭의 ID를 저장
            localStorage.setItem('activeTab', '#' + tab.id);
        });
    });
});

</script>
{% endblock %}