{% extends 'base.html' %}
{% load static %}
{% block title %} Pharmacokinetics and Cytotoxicity for {{ chemical.chem_id }}{% endblock %}
{% block content %}
<style>
table, th, tr, td {
  text-align: center;
}
</style>
<div class="card">
    <div class="card-body"><br>
          <h3>{{ chemical.chem_id }}</h3>
          <!-- Default Tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Chemical Property</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">In vitro assay</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">In vivo assay</button>
            </li>
          </ul>

          <div class="tab-content pt-2" id="myTabContent">
            <a href="{% url 'target_view' target=chemical.target %}"  class="btn btn-outline-primary btn-sm">Back to {{ chemical.target }}</a>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                    <h4 class="card-title"> Pharmacokinetics </h4>
                  </div>
                  <div class="d-flex justify-content-end">
                  <form method="post" action="{% url 'pharmacokinetic_add' target=chemical.target chem_id=chemical.chem_id %}" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Pharmacokinetic</button>
                  </form>
                  </div>
               </div>
                 <table class="table table-hover"  id="data-table" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Route</th>
                            <th scope="col">Tmax(h)</th>
                            <th scope="col">Cmax(μg/mL)</th>
                            <th scope="col">t1/2(h)</th>
                            <th scope="col">AUCt(μg·h/mL)</th>
                            <th scope="col">CL(L/h/kg)</th>
                            <th scope="col">Vss(L/kg)</th>
                            <th scope="col">F(%)</th>
                            <th scope="col">Raw data</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pk in pharmacokinetics %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ pk.date|date:"Y-m-d" }}</td>
                            <td>{{ pk.Route }} </td>
                            <td>{{ pk.tmax }}</td>
                            <td>{{ pk.cmax }}</td>
                            <td>{{ pk.t_half }}</td>
                            <td>{{ pk.AUC }}</td>
                            <td>{{ pk.CL }}</td>
                            <td>{{ pk.Vss }}</td>
                            <td>{{ pk.F }}</td>
                            <td>raw data</td>
                            <td>
                                 <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
<!--                                <form method="post" action="">-->
<!--                                    {% csrf_token %}-->
<!--                                    {{ form.as_p }}-->
<!--                                    <button type="submit" class="btn btn-outline-secondary btn-sm">저장</button>-->
<!--                                </form>-->
                                <a href="" class ="btn btn-outline-danger btn-sm">삭제</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               </div>

              <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                    <h4 class="card-title" >Cytotoxicity</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                  <form method="post" action="{% url 'cytotoxicity_add' target=chemical.target chem_id=chemical.chem_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Cytotoxicity</button>
                  </form>
                  </div>
              </div>
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">VERO</th>
                            <th scope="col">HFL-1</th>
                            <th scope="col">L929</th>
                            <th scope="col">NIH 3T3</th>
                            <th scope="col">CHO-K1</th>
                            <th scope="col">Raw data</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ct in cytotoxicities %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ ct.date }}</td>
                            <td>{{ ct.VERO }}</td>
                            <td>{{ ct.HFL_1 }}</td>
                            <td>{{ ct.L929 }}</td>
                            <td>{{ ct.NIH_3T3 }}</td>
                            <td>{{ ct.CHO_K1 }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>

              <div class="card-body">
                 <div class="d-flex justify-content-between align-items-center">
                      <div class="text-start">
                     <h4 class="card-title">Liver Microsomal Stability</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                    <form method="post" action="{% url 'liver_stability_add' target=chemical.target chem_id=chemical.chem_id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Liver Microsomal Stability</button>
                    </form>
                  </div>
                 </div>
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Mouse(%)</th>
                            <th scope="col">Rat(%)</th>
                            <th scope="col">Human(%)</th>
                            <th scope="col">Raw data</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ls in liver_stabilities %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ ls.date }}</td>
                            <td>{{ ls.mouse }}</td>
                            <td>{{ ls.rat }}</td>
                            <td>{{ ls.human }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>

              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                     <h4 class="card-title">CYP Inhibition Data</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                  <form method="post" action="{% url 'cyp_inhibition_add' target=chemical.target chem_id=chemical.chem_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CYP inhibition</button>
                 </form>
                  </div>
              </div>
                    <table  class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">CYP 1A2</th>
                                <th scope="col">CYP 2C9</th>
                                <th scope="col">CYP 2C19</th>
                                <th scope="col">CYP 2D6</th>
                                <th scope="col">CYP 3A4</th>
                                <th scope="col">Raw data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cyp in cyp_inhibitions %}
                            <tr>
                                <th scope="row"></th>
                                <td>{{ cyp.date }}</td>
                                <td>{{ cyp.cyp_1a2 }}</td>
                                <td>{{ cyp.cyp_2c9 }}</td>
                                <td>{{ cyp.cyp_2c19 }}</td>
                                <td>{{ cyp.cyp_2d6 }}</td>
                                <td>{{ cyp.cyp_3a4 }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
<!--                <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">Home</a>-->
              </div>

            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" >
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                     <h4 class="card-title">CCK assay</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                     <a href="{% url 'in_vitro_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CCK assay</a>
                  </div>
              </div>
                    <table  class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">진행자</th>
                                <th scope="col">세포주</th>
                                <th scope="col">IC50(μM)</th>
                                <th scope="col">석출여부</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Image</th>
                                <th scope="col">Raw data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vi in in_vitro %}
                             {% if vi.assay == "CCK" %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ vi.date|date:"Y-m-d" }}</td>
                                <td>{{ vi.user }}</td>
                                <td>{{ vi.cell }}</td>
                                <td>{{ vi.IC50 }}</td>
                                <td>{{ vi.Out }}</td>
                                <td>{{ vi.commnet }}</td>
                                <td> <img src="{{ image.image.url }}" alt="Image for {{ chemical.name }}"></td>
                                <td>raw data</td>
                                <td>
                                    <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                                    <a href="" class ="btn btn-outline-danger btn-sm">삭제</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                     <h4 class="card-title">Western blot</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                     <a href="{% url 'in_vitro_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CCK assay</a>
                  </div>
              </div>
                    <table  class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">진행자</th>
                                <th scope="col">세포주</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Image</th>
                                <th scope="col">Raw data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vi in in_vitro %}
                            {% if vi.assay == "WB" %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ vi.date|date:"Y-m-d" }}</td>
                                <td>{{ vi.user }}</td>
                                <td>{{ vi.cell }}</td>
                                <td>{{ vi.commnet }}</td>
                                <td>{{ vi.image }}</td>
                                <td>raw data</td>
                                <td>
                                    <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                                    <a href="" class ="btn btn-outline-danger btn-sm">삭제</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                     <h4 class="card-title">In vitro Target Inhibition assay</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                     <a href="{% url 'in_vitro_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CCK assay</a>
                  </div>
              </div>
                    <table  class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">진행자</th>
                                <th scope="col">In vitro inhibition at 10 μM(%)</th>
                                <th scope="col">Target inhibition IC50(μM)</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Image</th>
                                <th scope="col">Raw data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vi in in_vitro %}
                            {% if vi.assay == "Target" %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ vi.date|date:"Y-m-d" }}</td>
                                <td>{{ vi.user }}</td>
                                <td>{{ vi.vitro_at_10 }}</td>
                                <td>{{ vi.Taret_IC50 }}</td>
                                <td>{{ vi.commnet }}</td>
                                <td>{{ vi.image }}</td>
                                <td>raw data</td>
                                <td>
                                    <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                                    <a href="" class ="btn btn-outline-danger btn-sm">삭제</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-start">
                     <h4 class="card-title">기타실험</h4>
                  </div>
                  <div class="d-flex justify-content-end">
                     <a href="{% url 'in_vitro_add' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> CCK assay</a>
                  </div>
              </div>
                    <table  class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">실험명</th>
                                <th scope="col">Date</th>
                                <th scope="col">진행자</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Image</th>
                                <th scope="col">Raw data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vi in in_vitro %}
                            {% if vi.assay == "기타실험" %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ vi.title }}</td>
                                <td>{{ vi.date|date:"Y-m-d" }}</td>
                                <td>{{ vi.user }}</td>
                                <td>{{ vi.commnet }}</td>
                                <td>{{ vi.image }}</td>
                                <td>raw data</td>
                                <td>
                                    <a href="" class ="btn btn-outline-secondary btn-sm">수정</a>
                                    <a href="" class ="btn btn-outline-danger btn-sm">삭제</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              추가예정2
            </div>
    </div><!-- End Default Tabs -->
</div>
{% endblock %}