{% extends 'base.html' %}
{% block title %}
    Upload Schrödinger Modeling Data for {{ chemical.chem_id }}
{% endblock %}
{% block content %}
    <h2>Upload Schrödinger Modeling Data for {{ chemical.chem_id }}</h2>
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="btn btn-primary btn-sm" > <i class="bi bi-upload"></i> Upload</button>
    </form>
    <br>
    <a href="{% url 'schrodinger_model_list' target=chemical.target chem_id=chemical.chem_id %}" class="btn btn-outline-primary btn-sm">Back to Modeling List</a>
{% endblock %}
