{% extends 'base.html' %}
{% block title %} Upload Chemicals for {{ target }} {% endblock %}
{% block content %}
    <h2>Upload Chemicals for {{ target }}</h2>
<!--    <form method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{target}} Chemical Form</h5>
     <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <div class="row mb-3">
          <label for="File" class="col-sm-2 col-form-label">image</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" id="File" name="File">
          </div>
        </div>
        <button type="submit"  class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div>

    <a href="{% url 'target_view' target=target %}">Back to {{ target }}</a>
{% endblock %}