{% extends 'base.html' %}
{% block title %}Patient Input{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h1>Enter Patient ID</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="patient_id" placeholder="Patient ID">
        <button type="submit">Submit</button>
    </form>
   {% if patient_id %}
        <h2>Results for Patient: {{ patient_id }}</h2>
    {% endif %}

    {% if results %}
        {{ results|safe }}
    {% endif %}
{% endblock %}
{% block extra_js %}
{% endblock %}